@media (max-width: 1200px){
    .footer__links{
        margin: 0 auto;
        max-width: 800px;
    }
}
@media (max-width: 1050px){
    .services{
      padding: 50px 0;
    }
    .services__col{
        width: 50%;
        margin-bottom: 15px;
    }
    .meet{
        padding: 50px 0;
    }
    .meet__col{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .meet__col:nth-last-child(n+2){
        margin-bottom: 20px;
    }
    .meet__img{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .socials{
        justify-content: center;
    }
    .socials__item:not(:last-child){
        margin-right: 15px;
    }
    .skills{
        padding: 50px 0;
    }
    .skills__col{
        width: 50%;
    }
    .portfolio{
        padding: 50px 0;
    }
    .about-us{
        padding: 50px 0;
    }
    .message{
        padding: 50px 0;
    }
}
@media (max-width: 992px) {
    .header{
      padding-bottom: 50px;
    }
    .footer__links{
        justify-content: center;
    }
    .footer__link{
        font-size: 18px;
    }
    .footer__link{
        margin-right: 30px;
    }
}
@media(max-width: 940px){
    .menu__link{
        padding: 5px 10px;
    }
    .header__text {
        font-size: 25px;
    }
}
@media(max-width: 852px){
    .menu__list .menu__item{
        margin-right: 0;   
    }
    .menu__list .menu__item .menu__link{
        font-size: 14px;
    }
}
@media(max-width: 805px){
    .nav__logo img{
        width: 85px;
        object-fit:contain
    }
}  
@media(max-width: 767.9px){
    .subtitle{
        font-size: 26px;
    }
    .services__col{
        width: 100%;
    }
    .services__col:not(:last-child){
        margin-bottom: 20px;
    }
    .col__text{
        font-size: 22px;
    }
    .meet__col{
        width: 100%;
    }
    .skills__col{
        width: 100%;
    }
    .hamb{
      display: flex;
    }
    .menu__list{
        display: none;
    }
    .hamb-popup{
        top: 75px;
        position: fixed;
        display: flex;
        justify-content: center;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #926fa0;
        transition: 0.5s;
        z-index: 50; 
        overflow: auto;
        opacity: 0.95;
    }
    .hamb-popup .menu__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-top: 30px;
    }
    .hamb-popup .menu__list li:not(:last-child){
        margin-bottom: 10px;
        margin-right: 0;
    }
    .hamb-popup .menu__list li a{
        letter-spacing: 10px;
        font-size: 18px;
    }
    .hamb-popup.open{
        left: 0;
    }
    .portfolio__col {
        width: 100%;
    }
    .about-us__col {
        width: 100%;
    }
    .form-wrap{
        flex-direction: column;
        max-width: 500px;
    }
    .form-wrap__name{
        width: 100%;
    }
    .form-wrap__email{
        width: 100%;
    }
    .footer__item{
        width:33.333%;
        text-align: center;
    }
    .footer__item:not(:last-child){
        margin-bottom: 10px;
    }
    .footer__item:last-child{
        margin: 0 auto;
    }
    .footer__link{
        font-size: 18px;
    }
    .up-btn{
        bottom: 5px;
        right: 5px;
        width: 50px;
        height: 50px;
    }
    body.noscroll{
        overflow: hidden;
    }
}  
@media(max-width:765px){
    .title{
      line-height: 100%;
    }
}
@media(max-width:576px){
    .about-us__col {
      flex-direction: column;
      align-items: center;
      padding: 0 59px 70px 59px ;
    }
    .inner-col {
        margin-bottom: 20px;
    }
    .inner-col img{
        width: 150px;
        height: 150px;
    }
}
@media(max-width:480px){
    .title{
      font-size: 30px;
    }
}
@media(max-width:440px){
    .footer__item{
      width:50%;
      text-align: center;
    }
}
@media(max-width:435px){
    .portfolio__item {
      width: 40%;
      margin:10px
    }
}
@media(max-width:350px){
    .portfolio__item {
      width: 100%;
      margin:10px
    }
    .portfolio__link {
        text-align: center;
    }
}
@media(max-width:320px){
    .footer__item{
      width:100%;
      text-align: center; 
    }
}

  